.CountDownContainer{
    display: flex;
    
    height: 10em;
    width: 12em;
    justify-content: center;
    align-items: center; 
   
    
}

.CountDownContainer .content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191E39;;
    height: 9.5em;
    width: 9.5em; 
    border-radius: 100%;
    
   
}
