
.stopwatchMain{
    display: flex;
    justify-content: center;
    gap: 13em;
    width: 100%;
}
.stopWatchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
    padding: 0.2em;
}

button{
    cursor: pointer;
    background: none;
    border: none;
}

.textContaner{
    display: flex;
    gap: 2em;
}

.textContaner p{
    color: #949494;
    font-size: 1.1rem;
}
.buttonContainer{
    display: flex;
    gap: 3.8em;
    justify-content: center;
}

.timeTextContainer{
    display: flex;
    gap: 1.7em;
}

.timeTextContainer p{
    font-size: 1.6rem;
}

.startStop button{
background: #FF6A6A;
width: 15em;
height: 2em;
border-radius: 1em;
color: #fff;
}
.CountDown{
    height: 100%;
    display: flex;
    align-items: center;
}